:root {
  --color-green: #469B4E;
  --content-width: 900px;
}

body {
  color: white;
}

small {
  color: grey;
}

h1 {
  color: var(--color-green);
}

h2 {
  font-size: 26px;
}

small {
  font-size: 14px;
}

.Header {
  font-size: 40px;
}
