.award-container {
  padding-bottom: 8px;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}

.skill-tags {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.award-container img {
  width: 100px;
  height: 75px;
  border-radius: 12px;
  margin-right: 15px;
  object-fit: cover;
}
